<!DOCTYPE html>
<html >
<head>
	<title>jifen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scale=0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/jifen.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
</head>
<style type="text/css">
	.ng-cloak{
		display: none;
	}
	h4{
		font-size: 16px;
		font-weight: bold;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
</style>
<body ng-app="hd" ng-cloak class="ng-cloak" >

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header " style="">
					<a class="navbar-brand" href="/m/index.php">
						<返回
       					 <!-- <img alt="<返回" src="..."> -->
      				</a>
      				<p class="navbar-text">金币兑换</p>

      		<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary navbar-btn  pull-right " style="margin-right: 10px">说明</button>

			</div>


		</div>




	</nav>

	<!-- 弹窗 -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" style="margin-top: 50%" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style="font-size:26px" aria-hidden="true">&times;</span></button>
					<h4>说明</h4>
				</div>
				<div class="modal-body">
					1.金币仅限Hi帮网内使用；可用于购买服务和兑换指定商品;<br>
					2.注册即赠送金币10个;<br>
					3.金币可在淘宝网Hi帮官方店铺购买, 1元人民币可兑换1个金币;<br>
					4.金币可以提现，但不可转让。<br>
					了解更多详情见官网帮助中心内容。


				</div>
			</div>

		</div>

		</div>


	<div class="container-fluid" >

<div class="row" ng-controller="ctrl">
	<div ng-repeat="v in data" class="col-xs-6 ">
		<div class="thumbnail">
			<img src="{{v.image}}" alt="image1">
			<div class="caption">
				<h4>{{v.item}}</h4>
				<p>
					<span>{{v.name}}</span>
					<a href="#" class="btn btn-primary" ng-click="goods.add()"  role="button"
			>兑换</a>
				</p>
			</div>
		</div>

	</div>



</div>
</div>

<script type="text/javascript">
	var m=angular.module('hd',[]);
	m.controller('ctrl',['$scope',function($scope){
		$scope.data=
			[
			{name:'5600金币',item: 'HUAWEI Mate 10',image:'images/mate10-image.png'},
			{name:'7900金币', item: 'iPhone X',image:'images/image_iphone.jpg'},
			{name:'2100金币', item: '荣耀畅玩平板2',image:'images/image_rongyao.jpg'},
			{name:'3100金币', item: 'Apple iPad mini 4',image:'images/image_ipad.jpg'},
//			{name:'500金币', item: '罗技 G102 鼠标',image:'images/image_mouse.jpg'},
//			{name:'500金币', item: '金士顿 32GB U盘',image:'images/image_disk.jpg'}
			];
		$scope.goods={
			add:function(){
				alert("即将上线，敬请期待")
			}
		};


			 // add:function(){
			 // 	alert(666);
			 // }


			// 		angular.forEach($scope.data,function(v,k){
			// 	console.log(v)
			// })
	}])
</script>









</body>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</html>