<!DOCTYPE html>
<html lang="zh-CN" class="index_page">
<head>
	{template header}
	<title>{$cat[catname]} - {$mymps_global[SiteName]}</title>
	<link type="text/css" rel="stylesheet" href="template/css/global.css">
	<link type="text/css" rel="stylesheet" href="template/css/style.css">
    <link type="text/css" rel="stylesheet" href="template/css/list.css">
    <link type="text/css" rel="stylesheet" href="template/css/filter.css">
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_quv1sz23kg25ipb9.css">
    <script>window['current'] = '{$city[cityname]}{$cat[catname]}';</script>
</head>

<body class="{$mymps_global[cfg_tpl_dir]}">
<div class="wrapper">

    {template header_search}

	<div class="infolst_w">
        <div class="item"><a {if $iflogin == 0} onclick="alert('请先登录');return false;" {/if} href="index.php?mod=share_parking&catid={$cat[catid]}">我要分享车位</a></div>
        <div class="item"><a {if $iflogin == 0} onclick="alert('请先登录');return false;" {/if} href="index.php?mod=find_parking&catid={$cat[catid]}">我要寻找车位</a></div>
	</div>
</div>
{template footer}
<script src="template/js/iscroll.js"></script>
<script>
document.addEventListener('DOMContentLoaded',function(){
	window['myScroll_parent'] = null;
	window['myScroll_inner'] = null;
	showFilter({ibox:'filter2',content1:'parent_container',content2:'inner_container',fullbg:'fullbg'});
},false);
</script>
<style type="text/css">
	.infolst_w{
		text-align: center;
		margin-top: 120px;
		margin-bottom: 200px;
	}
	.infolst_w .item{
		margin: 30px 0;
	}
	.infolst_w a{

		width: 120px;
		line-height: 50px;

		padding: 10px;
		border-radius: 8px;
		margin:10px 0;
		background: #0DC961;
		color: #fff;
		font-size: 24px;

	}

</style>
</body>
</html>