<!DOCTYPE html>
<html lang="zh-CN" class="index_page">
<head>
	{template header}
	<title>切换分站-{$mymps_global[SiteName]}</title>
	<link type="text/css" rel="stylesheet" href="template/css/global.css">
	<link type="text/css" rel="stylesheet" href="template/css/style.css">
	<link type="text/css" rel="stylesheet" href="template/css/changecity.css">
	<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_222020_c8v44cgn3sj1yvi.css">
    <script>window['current'] = '联系我们';</script>
</head>

<body class="{$mymps_global[cfg_tpl_dir]}">
<div class="wrapper">
{template header_search}

<div>

</div>


	<section style="margin-bottom: 20px">
		<div class="s-title">联系地址</div>
		<div class="s-content">陕西省西安市高新区长安科技产业园创业大道1号 <br />Hi帮网</div>
	</section>

	<section style="margin-bottom: 20px">
		<div class="s-title">联系电话</div>
		<div class="s-content"><a href="tel:02985692886">029-85692886 <span class="icon-dianhua iconfont"></span></a></div>
	</section>

	<section style="margin-bottom: 20px">
		<div class="s-title">联系人</div>
		<div class="s-content">高先生</div>
	</section>

    <section>
        <div class="s-title">邮箱</div>
        <div class="s-content">hibang365@gmail.com</div>
    </section>

</body>

<style type="text/css">
	section{
		padding: 0 15px;
		background: #ffffff;
	}
	.s-title{
		font-weight: bold;
		padding: 12px 0;
		border-bottom: 1px solid #959595;
	}
	.s-content{
		line-height: 22px;
		padding:10px 0;
	}
</style>
</html>