<link rel="stylesheet" type="text/css" href="template/css/bootstrap.min.css">
<script type="text/javascript" src="template/js/bootstrap.min.js"></script>
<script type="text/javascript" src="template/js/jquery.min.js"></script>

<div class="footer">

	<!--<p class="footer_01">
		<a href="index.php?mod=index" class="footer_hover" rel="nofollow">手机版</a>
		<a href="{$mymps_global[SiteUrl]}/index.php?view=pc" rel="nofollow">电脑版</a>
	</p>-->


    <div class="clear"></div>
	<p class="footer_02">&copy;copyright{$mymps_global[SiteName]}<!-- <br /> -->{$mymps_global[SiteBeian]}&nbsp;&nbsp;</p>
		        <div style="text-align: center">
        <ul class="sites_title" style="margin:0 50px">
             <input id="biao1" name=""  value="https://www.hibang365.com" type="hidden" >

            <li class="title_caption sites_title_left" onClick="copyUrl2()">
                 <button type="button" class="btn btn-primary" style="background: #F2F2F2 ;border:0; color: #666;padding: 0"  >网址</button>

            </li>



            <li class="title_caption sites_title_right" style="" >
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" style="background: #F2F2F2 ;border:0;color: #666;padding: 0">二维码</button>

                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                        <h4 class="modal-title" style="margin:16px 0 ; font-size: 18px; color: #0ED27D">打开手机"扫一扫"，即刻分享身边好友</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                           <img src="template/images/Hibang.png" style="" width="50%">
                        </div>
                      </div>
                    </div>
            </li>

                        <li class="title_caption">
				<p class="footer_02" style="color: #666;font-size: 14px"><a href="index.php?mod=contactus">联系我们</a></p>

            </li>



        </ul>
<script type="text/javascript">
function copyUrl2()
    {
        var url=document.getElementById("biao1");
        url.type=""
        url.select()
        document.execCommand("Copy");
        url.type="hidden"
        alert('Hi帮网网址已经复制到您的剪切板中');
    }
</script>




    </div>




    <!-- <p class="footer_02" style="color: #666"><a href="index.php?mod=contactus">联系我们</a></p> -->
	<p class="footer_02" style="display:none">{$mymps_global[SiteStat]}</p>
</div>
<div class="windowIframe" id="windowIframe" style="display:none;">
	<div class="header">
    	<a href="javascript:;" class="back left8 close">返回</a><span id="windowIframeTitle"></span>
    </div>
	<div class="body" id="windowIframeBody">

	</div>
</div>

<script>var searchHtml='<div class="searchbar2">'+'<form id="myform" action="{$mymps_global[SiteUrl]}/m/index.php?" method="get">'+'<input name="mod" type="hidden" value="search">'+'<input type="text" name="keywords" id="keyword" class="s_ipt" value="" placeholder="输入关键字" />'+'<input type="submit" class="s_btn po_ab" value="搜索">'+'</form></div>'+'<div class="nosearch">'+'<div class="searchtab">热门搜索'+'</div>'+'<div class="hotword">'+'<span>'+'<a href="#">打孔'+'</a>'+'</span>'+'<span>'+'<a href="#">拎包'+'</a>'+'</span>'+'<span>'+'<a href="#">疏通'+'</a>'+'</span>'+'<span>'+'<a href="#">刷墙'+'</a>'+'</span>'+'<span>'+'<a href="#">打孔'+'</a>'+'</span>'+'</div>'+'</div>';function newPageSearch(){$('#windowIframe .back').show();$('#myform').submit(function(){if($('#keyword').val()===''){MSGwindowShow('index','0','请输入搜索关键字','','')}})}</script>


<style type="text/css">

	body{
		background: #F2F2F2;
	}
	.footer_02{
		padding-bottom: 10px;
		font-size: 13px;
		color: #333;
	}
	.nosearch{
		width: 100%;

		background: #fff;
	}
	.nosearch .searchtab{
		margin:0 10px;
		text-align: center;
		height: 28px;
		border: 2px solid #626262;
		border-radius:3px;
		line-height: 28px;
		background: #626262;
		color:#fff;
	}
	.nosearch .hotword{
		margin: 0 10px;
		margin-top: 10px;
	}
	.nosearch .hotword a{
		background: #f3f3f3;
		padding:0 17px;
		line-height: 29px;
		display: inline-block;
		border:1px solid #e1e1e3;
		border-radius:13px;
		margin-right: 10px;
		margin-bottom: 10px;
		color: #666;
	}
	.btn{
		padding: 0;
	}
 .sites_title{
        display: box;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -o-box;
    }
    .sites_title .title_caption{
        box-flex:1;
        -webkit-box-flex:1;
        -o-box-flex:1;
        -moz-box-flex:1;
        -ms-flex:1;
    }
    button.close{
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 24px;
}
    .modai-header{
    	padding: 10px;
    }
    .modal-dialog{
        margin-top: 50%;
    }
    .modal-content{
        height: 280px;

    }
    a{
    	color: inherit;
    }
    *{
    	-webkit-box-sizing:initial;
    }
    .h1, .h2, .h3, h1, h2, h3{
    	margin-top: initial;
    }
</style>