<!DOCTYPE html>
<html lang="zh-CN" class="index_page">
<head>
	{template header}
	<title>{$row[title]} - {$row[catname]} - {$mymps_global[SiteName]}</title>
    <meta name="keywords" content="{$row[title]}"/>
    <meta name="description" content="{$row[title]}-{$mymps_global[SiteName]}手机版"/>
    {if $row[userid]==$s_uid&&$row[book_status]==0}
    <meta http-equiv="refresh" content="10">
    {/if}
	<link type="text/css" rel="stylesheet" href="template/css/global.css">
	<link type="text/css" rel="stylesheet" href="template/css/style.css">
	<link type="text/css" rel="stylesheet" href="template/css/info.css">
	<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_l7izsre2gkb21emi.css">
    <script>window['current'] = '{$row[catname]}';</script>
    <script>function seeContact(id){if(confirm("查看该信息联系方式需支付{$row[usecoin]}个金币，确定查看吗？")){var url='index.php?mod=information&action=seecontact&&id='+id;$.get(url,function(data){if(data==='余额不足'){MympsWindowMsg('',1,'您当前金币余额不足，请先充值','index.php?mod=member&action=pay');return false}else if(data==='请先登录'){MympsWindowMsg('',1,'您尚未登录，请先登录','index.php?mod=login&returnurl=');return false}else{$("#showContact").html(data);$("#djcklxfs").hide();$("#showContact").show();return true}})}}</script>
</head>
<body class="{$mymps_global[cfg_tpl_dir]}">
<div class="wrapper">
	{template header_search}
	<div class="detail">
		<div class="tit_area">
			<h1 class="tit">{$row[title]}</h1>
            {if $row[userid]==$s_uid}
            <div class="status_bar">
                <span class="date"><i class="ico"></i>{echo GetTime($row[begintime])}</span>
                <span class="browse_num"><i class="ico"></i><span id="totalcount" >{$row[hit]}</span>次</span>
                <div style="text-align: center">
                    <div style="border:1px solid #555; text-align: center;line-height: 30px;border-radius: 3px;margin-bottom: 16px">
                    {if $row[book_uid]==""}
                    车位正在等待被预订中,请不要关闭当前页面。
                    {else}
                    车位已被用户<span>{$row[book_uid]}</span>预订,请不要关闭当前页面。<br/>请在交接完成后点击交接按钮
                    </div>
                    {if $row[book_status]==1}
                    <a href="javascript:;" onclick="exchange_parking({$row[id]})" style="background: red;padding: 8px 20px;color: #fff; border-radius: 4px;">
                        交接
                    </a>
                    {/if}
                </div>
                {/if}
            </div>
            {else}
			<div class="status_bar">
				<span class="date"><i class="ico"></i>{echo GetTime($row[begintime])}</span>
				<span class="browse_num"><i class="ico"></i><span id="totalcount" >{$row[hit]}</span>次</span>
				<a href="javascript:;" onclick="book_parking({$row[id]}, this)" >
                    {if $row[book_uid]==""}
                        <span style="color:#fff;background: red;padding: 6px; border-radius: 4px">预订该车位</span>
                    {else}
                        <span style="color:#333;background: #999;padding: 6px; border-radius: 4px">车位已预订</span>
                    {/if}
                </a>
                {if $row[book_uid]==$s_uid&&$row[book_status]==0}
                <div style="text-align: center">
                    <div style="border:1px solid #555; text-align: center;line-height: 30px;border-radius: 3px;margin-bottom: 16px">
                        请暂时不要关闭当前页面,请在抵达车位并且完成车位交接完后点击交接按钮
                    </div>
                    <a href="javascript:;" onclick="exchange_parking_pre({$row[id]})" style="background: red;padding: 8px 20px;color: #fff; border-radius: 4px;">
                        交接
                    </a>
                </div>
                {/if}
			</div>
            {/if}
		</div>
		{if $row[image]}
		<div class="image_area_w">
			<div class="image_area">
				<ul>
                	{loop $row[image] $mymps}
					<li><img src="{$mymps_global[SiteUrl]}{$mymps[prepath]}" ref="{$mymps_global[SiteUrl]}{$mymps[path]}" width="220" height="155" /></li>
					{/loop}
				</ul>
				<div class="panel_num"></div>
			</div>
		</div>
		{/if}
        {if $row[extra]}
		<ul class="attr_info" style="margin-top:0;">
        	{loop $row[extra] $mymps}
            {if $mymps[value]}
			<li>
				<span class="attrName2"  style="{if strexists($mymps[value],'元')}color:#ff7800;{/if}">{$mymps[title]}：</span>
				<span class="attrVal"  style="{if strexists($mymps[value],'元')}color:#ff7800;font-weight:bold;font-size:20px;{/if}">{if in_array($mymps[value],array('0元','0元/月','0元/平米/天','0万元','0.00元','0.00万元'))}面议{else}{echo str_replace('.00','',$mymps[value])}{/if}</span>
			</li>
            {/if}
			{/loop}
		</ul>
		{/if}
    	{if $row[usecoin] != 0 && $iflogin == 0}
        <script>MympsWindowMsg('',1,'该信息联系方式已被隐藏，登录后可查看！','index.php?mod=login&returnurl={echo urlencode("index.php?mod=information&id=".$row[id])}','nodeurl');</script>
        {elseif $viewid!=$id && $row[usecoin] > 0 && $iflogin == 1}
        <script>MympsWindowMsg('',0,'查看该信息联系方式需支付{$row[usecoin]}个金币！');</script>
        <ul class="attr_info bottom">
			<span class="attrVal mfico">
				<li id="djcklxfs">
					<p class="mt10">
						<a href="javascript:void(0);" onClick="seeContact('{$id}');" class="fangico"><i></i>点击查看联系方式</a>
					</p>
				</li>
                <div id="showContact"></div>
			</span>
		</ul>
        {elseif $row[usecoin]<=0 || $viewid == $id}
        {if $row[contactview] == 1}
		<ul class="attr_info bottom">
			<span class="attrVal mfico">
            	{if $row[qq]}
				<li>
					<span class="attrName">联系 Q Q：</span>
					<span class="attrVal"> {$row[qq]}</span>
				</li>
				{/if}
				<li>
					<span class="attrName">联系电话：</span>
					<span class="attrVal"><a class="fred" {if $iflogin == 0}onclick="alert('您在登录后可以免费查看并拨打电话给商家')"{/if} href="{if $iflogin == 0}javascript:;{else}tel:{$row[tel]}{/if}">
                        {if $iflogin == 0}
                        {echo part_tel($row[tel])}
                        {else}
                        {$row[tel]}
                        {/if}
                    </a>&nbsp;&nbsp;{$row[contact_who]}</span>
				</li>
                <li>
                    <span class="attrName">车位金额：</span>
                    <span class="attrVal"> {$row[content]}金币</span>
                </li>
                <li>
					<span class="attrName">认证情况：</span>
					<span class="attrVal renzheng">
					{if $mayi[per_certify] == 1}实名已认证<span class="smrz"></span>{else}实名未认证<span class="nosmrz"></span>{/if}&nbsp;&nbsp;
					{if $mayi[com_certify] == 1}执照已认证<span class="yyzz"></span>{else}执照未认证<span class="noyyzz"></span>{/if}
					</span>
				</li>
				<style type="text/css">
					.mt10{

					}
					.mt10 a{
						width: 30%;
					}
					.mt10 a.znxx{
						background: #F65764;
						display: flex;
						justify-content: center;
						align-items: center;
						color: #fff;
					}
					.mt10 a.znxx i.icon-xinxi{
						font-family: 'iconfont';

						margin-right: 3px;
						font-size: 16px;


					}
					.mt10 a.znxx i.icon-xinxi:before{
						vertical-align: sub;
					}
				</style>
				<li>
					<p class="mt10" style="display: flex; justify-content: space-around;">
						<a {if $iflogin == 0}onclick="alert('您在登录后可以免费查看并拨打电话给商家')"{/if} href="{if $iflogin == 0}javascript:;{else}tel:{$row[tel]}{/if}" class="fangico dianhua"><i></i>拨打电话</a>
                        <a href="sms:{$row[tel]}" class="fangico duanxin"><i></i>短信咨询</a>
                        <a href="#" class="znxx" style="display: none;"><i class="icon-xinxi"></i>站内信息</a>
					</p>

				</li>
			</span>
		</ul>
        {else}
        <script>MympsWindowMsg('',0,'该信息已过期，联系方式已被隐藏!');</script>
        {/if}
        {/if}
        {if $row[mappoint]}
        <div class="detail-tit">地理位置 <span style="float: right; margin-right: 10px;"><a href="index.php?mod=parking_drive_map&infoid={$row[id]}" style="background: #f63; border-radius: 4px; color: #fff; padding: 4px 8px; font-weight: normal; font-size: 15px;">导航</a></span></div>
		<div class="detail_txt_che">
			<iframe src="{$mymps_global[SiteUrl]}/map.php?title={$row[title]}&isshow=1&p={$row[mappoint]}&width=360&height=190" height="205" width="100%" frameborder="0" scrolling="no"></iframe>
		</div>
        {/if}
	</div>
</div>
{template footer}
<div id="viewBigImagebg"></div>
<div id="viewBigImage">
    <div class="bigimg_topbar">
        <div class="btn_back"><span>返回</span></div>
        <div class="bigimg_num"><span class="curr_img">1</span>/<span class="total_img">9</span></div>
    </div>
    <div class="bigimg_box"><ul></ul></div>
</div>
<script src="template/js/slide.js"></script>
<script>
    function book_parking(id, obj){
        $.ajax({
            url: 'index.php?mod=parking_book&id='+id,
            type:"POST",
            dataType:"json",
            data: {},
            success:function(data){
                if(data.result == true) {
                    alert("车位预定成功");
                    window.location.reload();
                    $(obj).html("<span style='color:#333;background: #999;padding: 6px; border-radius: 4px'>车位已预订</span>");
                } else {
                    alert("车位已被预订");
                }
            }
        });
    }
    function exchange_parking(id){
        $.ajax({
            url: 'index.php?mod=parking_exchange&id='+id,
            type:"POST",
            dataType:"json",
            data: {},
            success:function(data){
                alert("车位交接成功");
                window.location.href= "index.php?mod=cate_index&catid={$row[catid]}";
            }
        });
    }

    function exchange_parking_pre(id){
        $.ajax({
            url: 'index.php?mod=parking_exchange_pre&id='+id,
            type:"POST",
            dataType:"json",
            data: {},
            success:function(data){
                alert("车位交接成功");
                window.location.href= "index.php?mod=cate_index&catid={$row[catid]}";
            }
        });
    }


</script>
</div>
</body>
</html>