<!DOCTYPE html>
<html lang="zh-CN" class="index_page">
<head>
	{template header}
	<title>{$row[title]} - {$row[catname]} - {$mymps_global[SiteName]}</title>
    <meta name="keywords" content="{$row[title]}"/>
    <meta name="description" content="{$row[title]}-{$mymps_global[SiteName]}手机版"/>
    {if $row[userid]==$s_uid&&$row[book_status]==0}
    <script>

    </script>
    {/if}
	<link type="text/css" rel="stylesheet" href="template/css/global.css">
	<link type="text/css" rel="stylesheet" href="template/css/style.css">
	<link type="text/css" rel="stylesheet" href="template/css/info.css">
    <link rel="stylesheet" type="text/css" href="template/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_l7izsre2gkb21emi.css">
    <script>window['current'] = '{$row[catname]}';</script>
    <script>function seeContact(id){if(confirm("查看该信息联系方式需支付{$row[usecoin]}个金币，确定查看吗？")){var url='index.php?mod=information&action=seecontact&&id='+id;$.get(url,function(data){if(data==='余额不足'){MympsWindowMsg('',1,'您当前金币余额不足，请先充值','index.php?mod=member&action=pay');return false}else if(data==='请先登录'){MympsWindowMsg('',1,'您尚未登录，请先登录','index.php?mod=login&returnurl=');return false}else{$("#showContact").html(data);$("#djcklxfs").hide();$("#showContact").show();return true}})}}</script>
    <script type="text/javascript" src="template/js/jquery.min.js"></script>

    <style type="text/css">
        *{
            box-sizing: initial;
        }
        h1{
            margin: initial;
        }
        a{color: inherit;}
        .modal-header{
            padding:8px 12px;
        }
        p{
            margin: 10px 0 0;
            text-align: center;
            font-size: 16px;
        }

        .booked_tel{
            background: green;padding: 5px 10px;color: white; border-radius: 4px;
        }
          .toggle_tips{
    background: #F4D4B6;
    color: #111;
    font-size: 15px;
    padding: 4px 6px;
    text-align: center;
  }
    </style>
</head>
<body class="{$mymps_global[cfg_tpl_dir]}">
<div class="wrapper">
	{template header_search}
    {if $row[userid]!=$s_uid&&$row[book_uid]==""}
    <div class="toggle_tips">为了保证快速成功，请先预定再联系对方。</div>
    {/if}
	<div class="detail">
		<div class="tit_area">
			<h1 class="tit">{$row[title]}</h1>
            <h1 style="line-height: 28px; font-weight: normal;">{if $row[userid]==$s_uid}可收{else}需付{/if}{$row[content]}金币</h1>
            {if $row[userid]==$s_uid}
            <div class="status_bar">
                <span class="date"><i class="ico"></i>{echo GetTime($row[begintime])}</span>
                <span style="display: none" class="browse_num"><i class="ico"></i><span id="totalcount" >{$row[hit]}</span>次</span>
                <div id="book_status_div" style="text-align: center">
                    <div style="border:2px solid green; text-align: center;line-height: 30px;font-size:16px; padding: 4px; font-weight:bold;border-radius: 3px;margin-bottom: 16px">
                    {if $row[book_uid]==""}
                    等待被预订中,建议勿离开此页。有效期余时归零,该信息过期。您可在个人中心更新刷新。<br/>
                    {else}
                    已被用户<span>*{echo substr($row[book_mobile], -3)}</span>预订。<br/>请在完成后收金币<br/>
                    {/if}
                        {if $row[book_status]==1}
                        <a href="javascript:;" onclick="exchange_parking({$row[id]})" style="background: red;padding: 6px;color: #fff; font-size: 13px; font-weight: normal; border-radius: 4px;">
                            收金币
                        </a>
                        {else}
                        <a href="javascript:;" style="background: gainsboro;padding:6px;color: grey; font-size: 13px; font-weight: normal; border-radius: 4px;">
                            收金币
                        </a>
                        {/if}
                    </div>
                    {if $row[book_uid]!=""}
                    <a class="fangico dianhua" style="margin: 0 auto;display: block;" href="tel:{$row[book_mobile]}">拨打对方电话</a>
                    {/if}
                </div>
            </div>
            {else}
			<div class="status_bar">
				<span class="date"><i class="ico"></i>{echo GetTime($row[begintime])}</span>
				<span style="display: none;" class="browse_num"><i class="ico"></i><span id="totalcount" >{$row[hit]}</span>次</span>
				<a href="javascript:;" onclick="book_parking({$row[id]}, this)" >
                    {if $row[book_uid]==""}
                        <span style="color:#fff;background: red;padding: 6px; border-radius: 4px">预订</span>
                    {else}
                        <span style="color:#111;background: #fff;padding: 6px; border-radius: 4px; border:1px solid red;">已预订</span>

                    {/if}
                </a>
                {if $s_uid&&$row[book_uid]==$s_uid&&$row[book_status]==0}
                <div style="text-align: center">
                    <div style="border:2px solid orange; text-align: center;line-height: 30px; font-size:16px; padding: 4px; font-weight:bold;border-radius: 3px;margin-bottom: 16px; margin-top: 12px;">
                        交接中。请在完成后付金币。<br/>
                        <a href="javascript:;" onclick="exchange_parking_pre({$row[id]})" style="background: red;padding: 6px;color: #fff; font-weight: normal;
                        font-size: 13px; border-radius: 4px;">
                            付金币
                        </a>
                    </div>
                </div>
                {/if}
			</div>
            {/if}
            <div {if $row[book_uid]!=""}style="display: none;"{/if} id="info_count_down"><!-- {echo ($row['endtime1']-time())} -->有效余时: <span id="last_time"></span></div>

    <!-- 弹窗 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" style="margin-top: 50%" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style="font-size:26px" aria-hidden="true">&times;</span></button>
                    <h4>提示</h4>

                </div>
                <div class="modal-body">
                    {if $row[userid]==$s_uid}
                     该共享信息已经过期, 如果您仍想继续分享, 请点击延期按钮。<a class="booked_tel" href="index.php?mod=parking_info&id={$row[id]}&is_renew=true">延期</a> <a class="booked_tel" href="index.php?mod=share_parking&catid={$row[catid]}&infoid={$row[id]}">重新发布</a>

                    {else}
                    该共享信息已经过期, 请重新在找实时{$cat[catname]}面寻找新的{$cat[catname]}共享。

                    {/if}
                    <br/><p class="text-primary" style="line-height: 1.5">本页面将在<span id="close_count_span">5</span>秒后自动关闭</p>
                </div>
            </div>

        </div>

        </div>
            <script>

            	function toLiangWei(data) {
            		if (data<10) {
            			data = "0"+ data;
            		}

            		return data;
            	}

            	function getTimeFormat(timeLeft) {

            		var h='小时';
                    var m="分钟";
                    var s="秒";
            		var hour=Math.floor(timeLeft/3600);
            		var min=Math.floor(timeLeft/60)%60;
            		var sec=timeLeft%60;
            		var hourPart = "";
            		var minPart = "";
            		var secPart = "";
            		if (hour > 0) {
            			hourPart = toLiangWei(hour)+h;
            		}
            		if (min>0 || hour>0) {
            			minPart = toLiangWei(min)+m;
            		}
            		secPart = toLiangWei(sec)+s;
            		t = hourPart + minPart +secPart;

            		return t;
            	}

                var interval;
                var intervalKey;
                $(function(){
                    var end_time = {$row['endtime1']};
                    var timestamp=Math.round(new Date().getTime()/1000);
                    var timeover=end_time-timestamp;
                    var t = getTimeFormat(timeover);

                    $("#last_time").html(t);

                    intervalKey = setInterval(function(){

                    	if (timeover>0){
                    		 t = getTimeFormat(timeover);
                    		$("#last_time").html(t);
                    	} else {
                            clearInterval(intervalKey);
                            <!--{if $row[book_uid]==""}-->
                            closeWindowAfter5();
                            <!--{/if}-->
                        }
                        timeover--;
                        }, 1000);

                    interval = setInterval('updateParkingStatus()', 10000);

                });

                var firstBooked = false;
                function updateParkingStatus() {
                    $.ajax({
                        url: 'index.php?mod=parking_book_status&id='+{$row[id]},
                        type:"POST",
                        dataType:"json",
                        data: {},
                        success:function(data){
                            if(data.result == true) {
                                if(data.rowContent.book_uid != "") {

                                    if (!firstBooked) {
                                        clearInterval(intervalKey);
                                        firstBooked = true;
                                        $("#info_count_down").hide();
                                    }

                                    var book_status_content;
                                    var book_status_button;
                                    if(data.rowContent.book_status == 1) {
                                        clearInterval(interval);
                                        book_status_button = '<a href="javascript:;" onclick="exchange_parking({$row[id]})" style="background: red;padding:6px;color: #fff; font-size: 13px; font-weight: normal; border-radius: 4px;">收金币</a>';
                                    } else{
                                        book_status_button = '<a href="javascript:;" style="background: gainsboro;padding:6px;color: grey; font-size: 13px; font-weight: normal; border-radius: 4px;">收金币</a>';
                                    }
                                    book_status_content = '<div style="border:1px solid green; text-align: center;line-height: 30px;font-size:16px; padding: 4px; font-weight:bold;border-radius: 3px;margin-bottom: 16px">已被用户<span>*'+data.rowContent.book_mobile.substr(-3)+'</span>预订。<br/>请在完成后收金币<br/>'+book_status_button+'</div><a class="fangico dianhua" style="margin: 0 auto;display: block;" href="tel:'+data.rowContent.book_mobile+'">拨打对方电话</a>';
                                    $("#book_status_div").html(book_status_content);
                                }
                            }
                        }
                    });
                }
                function closeWindowAfter5(){
                    $('#myModal').modal('show');
                    var timerlater=$("#close_count_span").html();

                    var intervaltimeover=setInterval(function(){
                        if(timerlater>0){
                            $("#close_count_span").html(timerlater)
                        }else{
                            clearInterval(intervaltimeover);
                             window.location.href="index.php?mod=index";

                        }
                        timerlater--;

                    },1000);
                }
                $('#myModal').on('hidden.bs.modal', function (e) {
                    window.location.href="index.php?mod=index";
                });
            </script>
		</div>
		{if $row[image]}
		<div class="image_area_w">
			<div class="image_area">
				<ul>
                	{loop $row[image] $mymps}
					<li><img src="{$mymps_global[SiteUrl]}{$mymps[prepath]}" ref="{$mymps_global[SiteUrl]}{$mymps[path]}" width="220" height="155" /></li>
					{/loop}
				</ul>
				<div class="panel_num"></div>
			</div>
		</div>
		{/if}
        {if $row[extra]}
		<ul class="attr_info" style="margin-top:0;">
        	{loop $row[extra] $mymps}
            {if $mymps[value]}
			<li>
				<span class="attrName2"  style="{if strexists($mymps[value],'元')}color:#ff7800;{/if}">{$mymps[title]}：</span>
				<span class="attrVal"  style="{if strexists($mymps[value],'元')}color:#ff7800;font-weight:bold;font-size:20px;{/if}">{if in_array($mymps[value],array('0元','0元/月','0元/平米/天','0万元','0.00元','0.00万元'))}面议{else}{echo str_replace('.00','',$mymps[value])}{/if}</span>
			</li>
            {/if}
			{/loop}
		</ul>
		{/if}
    	{if $row[usecoin] != 0 && $iflogin == 0}
        <script>MympsWindowMsg('',1,'该信息联系方式已被隐藏，登录后可查看！','index.php?mod=login&returnurl={echo urlencode("index.php?mod=information&id=".$row[id])}','nodeurl');</script>
        {elseif $viewid!=$id && $row[usecoin] > 0 && $iflogin == 1}
        <script>MympsWindowMsg('',0,'查看该信息联系方式需支付{$row[usecoin]}个金币！');</script>
        <ul class="attr_info bottom">
			<span class="attrVal mfico">
				<li id="djcklxfs">
					<p class="mt10">
						<a href="javascript:void(0);" onClick="seeContact('{$id}');" class="fangico"><i></i>点击查看联系方式</a>
					</p>
				</li>
                <div id="showContact"></div>
			</span>
		</ul>
        {elseif $row[usecoin]<=0 || $viewid == $id}
        {if $row[contactview] == 1}
        {if $row[userid]!=$s_uid}
		<ul class="attr_info bottom">
			<span class="attrVal mfico">
            	{if $row[qq]}
				<li style="display: none">
					<span class="attrName">联系 Q Q：</span>
					<span class="attrVal"> {$row[qq]}</span>
				</li>
				{/if}
<!-- 				<li>
					<span class="attrName">联系电话：</span>
					<span class="attrVal"><a class="fred" {if $iflogin == 0}onclick="alert('您在登录后可以免费查看并拨打电话给商家')"{/if} href="{if $iflogin == 0}javascript:;{else}tel:{$row[tel]}{/if}">
                        {if $iflogin == 0}
                        {echo part_tel($row[tel])}
                        {else}
                        {$row[tel]}
                        {/if}
                    </a>&nbsp;&nbsp;</span>
				</li> -->
                <li style="display: none">
                    <span style="display: none;" class="attrName">车位金额：</span>
                    <span class="attrVal"> {$row[content]}金币</span>
                </li>
                <li style="display: none;">
					<span class="attrName">认证情况：</span>
					<span class="attrVal renzheng">
					{if $mayi[per_certify] == 1}实名已认证<span class="smrz"></span>{else}实名未认证<span class="nosmrz"></span>{/if}&nbsp;&nbsp;
					{if $mayi[com_certify] == 1}执照已认证<span class="yyzz"></span>{else}执照未认证<span class="noyyzz"></span>{/if}
					</span>
				</li>
				<style type="text/css">
					.mt10{

					}
					.mt10 a{
						width: 30%;
					}
					.mt10 a.znxx{
						background: #F65764;
						display: flex;
						justify-content: center;
						align-items: center;
						color: #fff;
					}
					.mt10 a.znxx i.icon-xinxi{
						font-family: 'iconfont';

						margin-right: 3px;
						font-size: 16px;


					}
					.mt10 a.znxx i.icon-xinxi:before{
						vertical-align: sub;
					}
				</style>
				<li>
					<p class="mt10" style="display: flex; justify-content: space-around;">
						<a {if $iflogin == 0}onclick="alert('您在登录后可以免费查看并拨打电话给商家')"{/if} href="{if $iflogin == 0}javascript:;{else}tel:{$row[tel]}{/if}" class="fangico dianhua"><i></i>拨打对方电话</a>

                        <a href="#" class="znxx" style="display: none;"><i class="icon-xinxi"></i>站内信息</a>
					</p>

				</li>
			</span>
		</ul>
        {/if}
        {else}
    <!--{if $row[book_uid]==""}-->
        <script type="text/javascript">
            $(function(){
                closeWindowAfter5();
            });

        </script>
    <!--{/if}-->
        <!-- <script>MympsWindowMsg1('',1,'该信息已过期，联系方式已被隐藏!', "index.php");</script> -->
        {/if}
        {/if}
        {if $row[mappoint]}
        <div class="detail-tit">地理位置 <span style="float: right; margin-right: 10px; display: none;"><a href="index.php?mod=parking_drive_map&infoid={$row[id]}" style="background: #f63; border-radius: 4px; color: #fff; padding: 4px 8px; font-weight: normal; font-size: 15px;">导航</a></span></div>
        <style type="text/css">
            #l-map {height:200px;width:100%;float:left;border-right:2px solid #bcbcbc;}
            #r-result {height:300%;width:100%;float:left;overflow: scroll;}
            #r-result a{display: none;}
        </style>
        <div id="l-map"></div>
        <div style="padding: 6px;">注意: 该地图标注为大致位置, 仅供参考, 建议提前电话联系对方。</div>
        <div id="r-result"></div>
        <script type="text/javascript">
            var map = new BMap.Map("l-map");
            map.disableDragging();
            var geolocation = new BMap.Geolocation();
            geolocation.getCurrentPosition(function(r){
                <!--{if $row[userid]!=$s_uid}-->
                var p1 = new BMap.Point(r.point.lng,r.point.lat);
                var p2 = new BMap.Point({$row[mappoint]});

                map.centerAndZoom(p1, 12);
                var transit = new BMap.DrivingRoute(map, {
                    renderOptions: {
                        map: map,
                        panel: "r-result",
                        enableDragging : true //起终点可进行拖拽
                    }
                });
                transit.search(p1,p2);
                <!--{else}-->
                var ggPoint = new BMap.Point(r.point.lng,r.point.lat);
                map.centerAndZoom(ggPoint,12);
                var marker = new BMap.Marker(ggPoint);
                map.addOverlay(marker);
                <!--{/if}-->
            });
        </script>
        {/if}
	</div>
</div>
{template footer}
<div id="viewBigImagebg"></div>
<div id="viewBigImage">
    <div class="bigimg_topbar">
        <div class="btn_back"><span>返回</span></div>
        <div class="bigimg_num"><span class="curr_img">1</span>/<span class="total_img">9</span></div>
    </div>
    <div class="bigimg_box"><ul></ul></div>
</div>
<script src="template/js/slide.js"></script>
<script>
    function book_parking(id, obj){
        <!--{if $s_uid}-->
        if(1) {
            $.ajax({
                url: 'index.php?mod=parking_book&id='+id,
                type:"POST",
                dataType:"json",
                data: {},
                success:function(data){
                    if(data.result == true) {
//                        alert("{$cat['catname']}预定成功");
                        window.location.reload();

                        clearInterval(intervalKey);
                        $("#info_count_down").hide();

                        // $(obj).html("<span style='color:#111;background: #fff;padding: 6px; border-radius: 4px; border:1px solid red;'>车位已预订</span>");
                    } else if (data.status == 1){
                        alert("您的金币余额不足");
                    } else {
                        alert("{$cat['catname']}已被预订");
                    }
                }
            });
        }
        <!--{else}-->
        var r = confirm("请先登录");
        if (r) {
            window.location.href = "index.php?mod=login&returnurl=<!--{echo urlencode('index.php?mod=parking_info&id=')}--><!--{$row[id]}-->";
        }
        <!--{/if}-->
    }
    function exchange_parking(id){
        $.ajax({
            url: 'index.php?mod=parking_exchange&id='+id,
            type:"POST",
            dataType:"json",
            data: {},
            success:function(data){
                alert("{$cat['catname']}交接成功");
                window.location.href= "index.php?mod=index";
            }
        });
    }

    function exchange_parking_pre(id){
        var r = confirm("请问是否确认办好?");
        if(r) {
            $.ajax({
                url: 'index.php?mod=parking_exchange_pre&id='+id,
                type:"POST",
                dataType:"json",
                data: {},
                success:function(data){
//                    alert("{$cat['catname']}交接成功");
                    window.location.href= "index.php?mod=index";
                }
            });
        }
    }


</script>
</div>
<script type="text/javascript" src="template/js/bootstrap.min.js"></script>
<script type="text/javascript">
  // $(function(){
  //    $(".toggle_tips").delay(3000).slideToggle(1000)
  // })
</script>
</body>
</html>