<!DOCTYPE html>
<html lang="zh-CN" class="index_page">
<head>
	{template header}
	<title>发布信息 - {$mymps_global[SiteName]}</title>
	<link type="text/css" rel="stylesheet" href="template/css/global.css">
	<link type="text/css" rel="stylesheet" href="template/css/style.css">
	<link type="text/css" rel="stylesheet" href="template/css/post.css">
	<script>window['current'] = '发布信息';</script>
</head>
<body class="{$mymps_global[cfg_tpl_dir]}">
<div class="wrapper">
    {template header_search}
    {loop $categories $mymps}
    {loop $mymps[children] $c}
    <a onclick="login_confirm({$c[catid]});return false;" href="index.php?mod=post&catid={$c[catid]}&cityid={$cityid}">
        <dl class="business">
            <dt class="house"><i class="ico" style="background-size:40px 40px; border-radius:0;background-image:url({$mymps_global[SiteUrl]}/{$mymps[icon]});"></i>发布{$mymps[catname]}信息</dt>
        </dl>
    </a>
    {/loop}
    {/loop}
</div>
<!--{if $sharetype=='isshare'}-->
<div class="tips">
    <span>Tips:</span> 您可以将现有资源实时分享给他人
</div>
<!--{/if}-->
<!--
<script type="text/javascript">(function(){$('.business dt').bind('click',function(){var _this=$(this).parent();if(_this.hasClass('exp')){_this.removeClass('exp')}else{var scrollTop=document.body.scrollTop;_this.addClass('exp');window.scrollTo(0,scrollTop)}})}());</script>
-->
<script>

    function login_confirm(catid){
        <!--{if $iflogin == 0}-->
        var r = confirm("请先登录");
        if (r) {
            window.location.href = "index.php?mod=login&returnurl=<!--{echo urlencode('index.php?mod=post&sharetype=isshare')}-->";
        }
        <!--{else}-->
        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function(r){
            var lat = r.point.lat;
            var lng = r.point.lng;
            <!--{if $sharetype=='isshare'}-->
            window.location.href = 'index.php?mod=share_parking&catid='+catid+'&new_lat='+lat+'&new_lng='+lng;
            <!--{else}-->
            window.location.href = 'index.php?mod=post&catid='+catid+'&cityid={$cityid}';
            <!--{/if}-->
        });

        <!--{/if}-->
    }
</script>
{template footer}
</body>

<style type="text/css">
    .tips{
        margin-top: 20px;
        background: #ffffff;
        padding: 20px 0 20px 16px;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1px;
    }
     .tips span{
        color:#e67e22;

     }
     .footer{
        padding-top: 80%;
     }
</style>
</html>